<header class="navbar">
    <div class="container">
        <a href="{{ '/' | relative_url }}" class="navbar-brand"><img src="{{ '/assets/main screen/abyss-logo-compressed.png' | relative_url }}"></a>
        <nav class="navbar-nav">
            <ul>
                <li><a href="{{ '/' | relative_url }}#takim">Takım</a></li>
                <li><a href="{{ '/' | relative_url }}#arac">Abyss V1</a></li>
                <li><a href="{{ '/' | relative_url }}#sponsorlar">Sponsorlar</a></li>
                <li><a href="{{ '/' | relative_url }}#iletisim">İletişim</a></li>
                <li><a href="{{ '/gunluk.html' | relative_url }}">Günlük</a></li>
            </ul>
        </nav>
    </div>
</header>