   <header class="navbar">
        <div class="container">
            <a href="#anasayfa" class="navbar-brand"><img src="assets/main screen/abyss-logo-compressed.png"></a>
            <nav class="navbar-nav">
                <ul>
                    <li><a href="#takim">Takım</a></li>
                    <li><a href="#arac">Abyss V1</a></li>
                    <li><a href="#sponsorlar">Sponsorlar</a></li>
                    <li><a href="#iletisim">İletişim</a></li>
                </ul>
            </nav>
        </div>
    </header>