<header class="navbar">
    <div class="container">
        <a href="/" class="navbar-brand"><img src="/assets/main screen/abyss-logo-compressed.png"></a>
        
        <button class="hamburger-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <nav class="navbar-nav">
            <ul>
                <li><a href="/#takim">Takım</a></li>
                <li><a href="/#arac">Abyss V1</a></li>
                <li><a href="/#sponsorlar">Sponsorlar</a></li>
                <li><a href="/#iletisim">İletişim</a></li>
                <li><a href="/gunluk.html">Günlük</a></li>
            </ul>
        </nav>
    </div>
</header>